<div class="container custom-quest-page">
  <div class="header-row">
    <%= link_to new_user_quest_path, class: "pixel-back-btn text-white" do %>
      <i class="fa-solid fa-arrow-left"></i> <span>Back</span>
    <% end %>
  </div>

  <%= simple_form_for(@quest) do |f| %>
    <div class="form-inputs">
      <h4>Add Custom Quest</h4>
      <hr>
      <%= f.input :title, label: "Quest Name" %>
      <%= f.input :description, label: "Quest Description" %>
      <%= f.input :quest_category_id, label: "Quest Category", collection: @quest_categories.collect { |c| [c.name, c.id] }, prompt: "Select a category" %>
      <%= f.input :frequency, label: "Frequency" %>
    </div>
    <div class="form-actions">
      <%= f.submit "Create Quest", class: "btn" %>
    </div>
  <% end %>
</div>
