<% if user_signed_in? %>
  <nav class="navbar">
    <% user_class = current_user.user_classes.first %>

    <div class="navbar-left">
      <%= image_tag 'warrior-avatar.png', alt: 'Avatar', class: 'avatar' %>
      <div class="character-info">
        <div class="character-name"><%= current_user.username.capitalize %></div>

        <turbo-frame id="level_xp">
          <div class="character-level">Lvl: <%= user_class.level %></div>
          <div class="xp-bar-wrapper">
            <div class="xp-bar" style="width: <%= user_class.xp_progress_percentage %>%"></div>
          </div>
        </turbo-frame>
      </div>
    </div>

    <div class="navbar-right dropdown ms-auto">
      <button class="btn pixel-button dropdown-toggle" type="button" id="menuDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end pixel-dropdown" aria-labelledby="menuDropdown">
        <li><%= link_to "Inventory", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Quests", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
      </ul>
    </div>
  </nav>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>
