<% if user_signed_in? %>
  <nav class="navbar">
    <% user_class = current_user.user_classes.first %>

    <%= turbo_stream_from "user_#{current_user.id}_level_xp" %>

    <div class="navbar-left">
      <%= image_tag 'warrior-avatar.png', alt: 'Avatar', class: 'avatar' %>
      <div class="character-info">
        <div class="character-name"><%= current_user.username.capitalize %></div>

        <%= turbo_frame_tag "level_xp" do %>
          <%= render "shared/level_xp", user_class: user_class %>
        <% end %>
      </div>
    </div>

    <div class="navbar-right dropdown ms-auto">
      <button class="btn pixel-button dropdown-toggle" type="button" id="menuDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="fa-solid fa-bars"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-end pixel-dropdown" aria-labelledby="menuDropdown">
        <li><%= link_to "Inventory", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Quests", "#", class: "dropdown-item" %></li>
        <li><%= link_to "Settings", "#", class: "dropdown-item" %></li>
      </ul>
    </div>
  </nav>
<% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
<% end %>
