  <%= link_to user_quests_path, style: "position: fixed; top: 100px; left: 20px; z-index: 1000;" do %>
    <%= image_tag "blue_arrow.png", class: "back-button-icon", style: "width: 40px; height: 40px;" %>
  <% end %>

  <!-- ====== MAIN PROFILE CONTENT ====== -->

    <!-- Big character illustration -->
  <div class="container mx-auto text-center">
    <div class="character-illustration position-relative mt-5">
      <%# TODO:replace text in image tag with current_user.user_classes.first.img %>
      <%= image_tag asset_path("#{current_user.current_class.hero_class.name.downcase}-no-background.png"), alt: "Big Character", class: "img-fluid", style: "width: 300px;" %>
      <div class="shadow-ground"></div>
    </div>

    <!-- Character name / active class card -->
    <div class="character-card mt-4">
      <h2 class="display-name"><%= current_user.username.capitalize %></h2>
      <div class="active-class-section">
        <div class="active-class"><%= current_user.current_class.hero_class.name %></div>
      </div>
    </div>


    <!-- Stats: Current Level, On-going quests, Completed Quests -->
    <section class="stats-section mt-3">
      <div class="stat-card">
        <div class="stat-label">Current Level</div>
        <div class="stat-value"><%= current_user.current_class.level %></div>
      </div>
      <div class="stat-card">
        <div class="stat-label">Ongoing Quests</div>
        <div class="stat-value"><%= current_user.user_quests.for_hero_class(current_user.current_class.hero_class).where(completed: false).count %></div>
      </div>
      <div class="stat-card">
        <div class="stat-label">Completed Quests</div>
        <div class="stat-value"><%= current_user.user_quests.for_hero_class(current_user.current_class.hero_class).where(completed: true).count %></div>
      </div>
    </section>

    <!-- Classes section -->
    <section class="classes-section">
      <h3 class="section-title">Classes</h3>
      <div class="class-list">
        <% if current_user.available_hero_classes.count > 0 %>
          <div class="class-item add-class" data-bs-toggle="modal" data-bs-target="#add-class-modal">
            <%= image_tag "Add-quest-icon.png", class: "add-class-icon" %>
            <span>Add Class</span>
          </div>
          <%= render "add_class_modal" %>
        <% end %>
        <% current_user.user_classes.each do |user_class| %>
          <% if !user_class.active %>
            <%= link_to user_class_path(user_class, user_class: { active: true }), data: { turbo_method: :patch }, class: "class-item" do %>
              <%= image_tag "#{user_class.hero_class.name.downcase}-icon.png" , class: "class-item-icon" %>
              <span><%= user_class.hero_class.name.capitalize %></span>
            <% end %>
          <% end %>
        <% end %>
