<div class="container" style="min-height: 100vh; background-image: url(<%= asset_path("forest-animated.gif") %>); background-size: cover; background-position: center; background-repeat: no-repeat; background-attachment: fixed;">
  <div class="container new-quest-page py-5 d-flex flex-column align-items-center">
    <div class="header-row mb-3 w-100">
    <%= link_to new_quest_path do %>
      <%= image_tag "blue_arrow.png", style: "width: 40px; height: 40px;" %>
    <% end %>
    </div>

    <div id="questCarousel" class="carousel slide" data-bs-ride="false" data-bs-interval="false">
      <div class="carousel-inner">

        <!-- Custom Quest Slide -->
        <div class="carousel-item active">
          <%= link_to new_quest_path, class: "text-decoration-none" do %>
            <div class="scroll-wrapper">
              <div class="custom-scroll-content text-center d-flex flex-column justify-content-center align-items-center">
                <div class="quest-img" style="font-size: 16px"><%= image_tag 'custom_quest.png', alt: "Custom Quest Icon", class: "quest-icon-img" %></div>
                <h3>Custom Quest</h3>
                <p>Create your own adventure tailored to your goals.</p>
              </div>
            </div>
          <% end %>
        </div>

        <% @quests.each do |quest| %>
          <div class="carousel-item">
            <div class="d-flex flex-column align-items-center">
              <div class="scroll-wrapper">
                <div class="scroll-content text-center d-flex flex-column justify-content-center align-items-center">
                  <div class="quest-img"><%= image_tag quest.quest_category.icon, alt: "Quest Icon", class: "quest-icon-img" %></div>
                  <h3><%= quest.title %></h3>
                  <p><%= quest.description %></p>
                  <p>Frequency: <%= quest.frequency %></p>
                  <p class="bold-text">+<%= quest.xp_granted %> XP</p>
              <%= simple_form_for UserQuest.new, url: user_quests_path do |f| %>
                <%= f.hidden_field :quest_id, value: quest.id %>
                <%= f.hidden_field :completed_frequency, value: 0 %>
                <%= f.hidden_field :completed, value: false %>
                <%= f.submit "Add Quest", class: "quest-slide-button mt-3" %>
              <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>

      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#questCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#questCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</div>
