<%= link_to user_quests_path, class: "btn btn-secondary mb-3" do %>
  <i class="fa-solid fa-circle-xmark"></i>
<% end %>

<h4><%= @user_quest.quest.title %></h4>
<p><%= @user_quest.quest.description %></p>
<p><%= @user_quest.quest.quest_category.name %></p>
<p><%= @user_quest.completed_frequency %>/<%= @user_quest.quest.frequency %></p>

<% if @user_quest.completed_frequency < (@user_quest.quest.frequency - 1) %>
  <%= link_to user_quest_path(@user_quest, user_quest: { completed_frequency: @user_quest.completed_frequency + 1 }),
    data: { turbo_method: :patch },
    class: "btn btn-success btn-sm rounded-pill aesthetic-btn text-white" do %>
    <i class="fa-solid fa-check"></i>
    <p>Advance</p>
  <% end %>
<% elsif @user_quest.completed_frequency == (@user_quest.quest.frequency - 1) %>
  <%= link_to user_quest_path(@user_quest, user_quest: { completed_frequency: @user_quest.completed_frequency + 1, completed: true }),
    data: { turbo_method: :patch },
    class: "btn btn-success btn-sm rounded-pill aesthetic-btn text-white" do %>
    <i class="fa-solid fa-check"></i>
    <p>Complete</p>
  <% end %>
<% end %>

<%= link_to edit_user_quest_path(@user_quest), class: "btn btn-primary btn-sm rounded-pill aesthetic-btn text-white" do %>
  <i class="fa-solid fa-pen-to-square"></i>
  <p>Edit</p>
<% end %>

<%= link_to user_quest_path(@user_quest),
  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
  class: "btn btn-danger btn-sm rounded-pill aesthetic-btn text-white" do %>
  <i class="fa-regular fa-trash-can"></i>
<% end %>
